.store_info {
  .store_header {
    font-family: "Poppins" !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 20px !important;
    line-height: 38px !important;
    color: #171717 !important;
  }

  .store_info_body {
    background: #fafafa;
    box-shadow: 0px 3px 5px rgba(169, 169, 169, 0.16);
    border-radius: 5px;
    padding: 14px 16px;
    min-height: 180px !important;

    .store_info_animal {
      display: flex;
      flex-direction: column;
      gap: 16px;

      .summary_blog {
        display: flex;
        flex-direction: column;

        .title {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          color: #8c8c8c;
        }

        .body {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: #171717;
        }
      }
    }
  }
}

.summary {
  margin-top: 30px !important;

  .summary_blog {
    background-color: #f5f5f5 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    padding: 21px;

    background: #fafafa;
    border-right: 1px solid rgba(140, 140, 140, 0.3);

    &:last-child {
      border-right: none;
      border-radius: 0px 10px 10px 0px;
    }

    &:first-child {
      border-radius: 10px 0px 0px 10px;
    }

    .header {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 30px;

      text-align: center;

      color: #171717;
    }

    .body {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 27px;
      /* identical to box height */

      text-align: center;

      /* Dark Gray */

      color: #464646;
    }
  }
}

.product_description {
  margin-top: 30px !important;

  h3 {
    font-family: "Poppins" !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 20px !important;
    line-height: 38px !important;
    color: #171717 !important;
  }

  p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #464646;
  }
}

//   {/* <span className='title'>{blogsDetails?.BlogVisibiclity.charAt(0).toUpperCase() + blogsDetails?.BlogVisibility.slice(1).toLowerCase()}</span> */}


.app__store__chat {

  tbody,
  thead {

    th {
      margin: 0 !important;
      padding-top: 0 !important;
      padding: 4px 2px !important;
    }

    .first_th {
      text-align: left !important;
      padding-left: 20px !important;
    }

    .last_th {
      text-align: right !important;
      padding-right: 20px !important;
    }

    a {
      color: #171717 !important;
    }
  }

 
} .Skeleton_table {
  tbody,
  thead {

    th {
 
      margin: 0 !important;
      padding: 15px !important
    }
  }
  }