@import '../../style/varibale';

.navbar {
    box-shadow: $shadow-navbar;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px !important;

    .active {
        background-color: #F1F1F1 !important;
    }

    a {
        color: #030303 !important;
    }

    .nav__notification {
        background-color: $colorRed-0 ;
        color: $colorLight;
        border-radius: 5px;
        padding: 8px 10px;
        cursor: pointer;

        &:hover {
            color: $colorLight;
        }
    }
}

.btn__search {
    border: none;
    background-color: $colorRed-0;
    border-radius: 5px !important;
    position: relative;
    left: 10px;
    z-index: 999;
    padding: 8px 18px;

    svg {
        color: $colorLight;
        font-size: 25px;
    }
}



.input__search {
    padding-left: 20px !important;
    background: #F1F1F1 !important;
    border: none !important;
    outline: none !important;
    border-radius: 5px;
}

.form-control:focus {
    outline: 0;
    box-shadow: none !important;
    border-color: $colorRed-0
}

.subNav {
    .nav-link {
        font-family: $fontBase;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        /* identical to box height */
    }

    .active {
        color: $colorRed-0 !important;
    }
}

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
    --font-base: "DM Sans", sans-serif;


    --primary-color: #edf2f8;
    --secondary-color: #313bac;
    --black-color: #030303;
    --lightGray-color: #e4e4e4;
    --gray-color: #6b7688;
    --brown-color: #46364a;
    --white-color: #ffffff;
}

.app__navbar-menu {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: var(--secondary-color);

    svg {
        width: 70%;
        height: 70%;
        color: var(--white-color);
    }

    div {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 5;
        padding: 1rem;
        width: 50%;

        @media screen and (max-width:767px) {
            width: 80%;
        }


        height: 100vh;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;

        background: url('../../assets/Images/bgWhite.png');
        background-color: var(--white-color);
        background-size: cover;
        background-repeat: repeat;
        box-shadow: 0 0 40px rgba(168, 168, 168, 0.15);

        svg {
            width: 35px;
            height: 35px;
            color: var(--secondary-color);
            margin: 0.5rem 1rem;
        }

        ul {
            list-style: none;
            list-style: none;
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;

            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;

            li {
                margin: 1rem;

                a {
                    color: var(--gray-color);
                    text-decoration: none;
                    font-size: 1rem;
                    // text-transform: uppercase;
                    font-weight: 900;
                    font-family: var(--font-base);
                    transition: all 0.3s ease-in-out;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: larger;

                    &:hover {
                        color: var(--secondary-color);
                    }
                }
            }

        }

        @media screen and (min-width:900px) {
            display: none;
        }
    }

    @media screen and (min-width:900px) {
        display: none;
    }
}

.navbar-expand .navbar-nav .dropdown-menu {
    position: absolute;
    left: -135px;
    // top: 55px;
    background-color: rgba((248, 249, 250), var(--bs-bg-opacity)) !important;
    /* right: -10px; */; 
}

.dropdown-toggle::after {
    display: none !important;
}

.navEnd {
    gap: 18px;

    .chat__icon {
        border-radius: 5px;
        background-color: transparent !important;
        position: relative;
        svg {
            color: #B5B5C3  ;
        }

        transition: all 0.5s;

        &:hover {
            background-color: #a9defd !important;

            svg {
                // color: #f4f4f6 !important;
            }
        }

        // padding: 20px;
    }

    .bg-success {
        color: rgb(80, 205, 137);
        background-color: #50cd89 !important;
    }
    .bullet-dot {
        width: 4px;
        height: 4px;
        border-radius: 100% !important;
    }
    .bullet {
        display: inline-block; 
        border-radius: 6px;
        width: 8px;
        height: 4px;
        flex-shrink: 0;
        z-index: 999999;
    }   
    .h-6px {
        height: 6px !important;
    }
    .w-6px {
        width: 6px !important;
    }
    .translate-middle {
        transform: translate(-50%, -50%) !important;
    }
    .start-50 {
        left: 50% !important;
    }
    .top-0 {
        top: 0px !important;
    } 
    // Blink
    .animation-blink {
        animation: animationBlink 1s steps(5, start) infinite;
    }

    @keyframes animationBlink {
        to {
            visibility: hidden;
        }
    }
}