@import url('../../../style/_varibale.scss');

.app__blog {
    .app__addprodects__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        margin-top: 24px !important;
    }

    .blog__popup {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        /* identical to box height */

        text-align: right;
        text-decoration-line: underline;

        /* Second Color */
        color: #FAAA40 !important;
        cursor: pointer;
        text-decoration: underline !important;

    }

    .image-grid img {
        max-width: 100%;
        height: auto;
    }

    .app__blog_content {
        margin-top: 48px;
        margin-bottom: 48px;

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .title {

                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 25px;
                line-height: 38px;
                color: #171717;
            }

            .date {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                text-align: right;

                color: #464646;

            }
        }

        .content {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            margin-top: 24px !important;

            h3 {
                /* En (16 M) */

                font-family: 'Poppins';
                font-style: normal !important;
                font-weight: 500 !important;
                font-size: 19px !important;
                line-height: 24px !important;
                /* identical to box height */


                /* Second Color */

                color: #FAAA40 !important;

            }
        }

        .blog_body {
            margin-top: 35px;

            p {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;

                /* Dark Gray */

                color: #464646;


            }
        }

        .summary {
            .summary_blog {
                background-color: #F5F5F5 !important;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 12px;
                padding: 21px;


                background: #FAFAFA;
                border-right: 1px solid rgba(140, 140, 140, 0.3);

                &:last-child {
                    border-right: none;
                    border-radius: 0px 10px 10px 0px;
                }

                &:first-child {
                    border-radius: 10px 0px 0px 10px;
                }

                .header {
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 30px;
                    /* identical to box height */

                    text-align: center;

                    /* Black */

                    color: #171717;
                }

                .body {
                    /* En (18 M) */

                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 27px;
                    /* identical to box height */

                    text-align: center;

                    /* Dark Gray */

                    color: #464646;

                }
            }
        }

        .comment {
            margin-top: 48px !important;

            .content {
                display: flex;
                flex-direction: column;
                gap: 20px;
                justify-content: flex-start;

                .body {
                    width: 100%;
                    background: #FAFAFA;
                    border-radius: 10px;
                    padding: 12px;
                    display: flex;
                    flex-direction: row;
                    gap: 10px;

                    .header {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        gap: 8px;

                        .header__comment {
                            width: 100% !important;
                            display: flex;
                            justify-content: space-between;

                            .info {
                                display: flex;
                                gap: 10px;
                                align-items: center;

                                span {
                                    font-family: 'Poppins';
                                    font-style: normal;
                                    font-weight: 500;
                                    font-size: 16px;
                                    padding-top: 10px;
                                    line-height: 24px;
                                    color: #FAAA40;
                                }
                            }

                            .action {
                                display: flex;
                                flex-direction: row;
                                gap: 20px;

                                .date {
                                    font-family: 'Poppins';
                                    font-style: normal;
                                    font-weight: 500;
                                    font-size: 16px;
                                    line-height: 24px;
                                    /* identical to box height */

                                    text-align: right;

                                    /* Dark Gray */

                                    color: #464646;


                                }

                                .delete {
                                    .dropdown {
                                        button {
                                            /* width: 47px; */
                                            padding: 0;
                                            background-color: transparent !important;
                                            margin: 0;
                                            border: none;
                                        }

                                        .dropdown-menu {
                                            padding: 5px !important;
                                            border-radius: 15px !important;

                                            background-color: #F5F5F5;
                                        }
                                        .dropdown-item {
                                            border-radius: 15px !important;
                                        }
                                    }
                                }
                            }
                        }

                        .comments_content {
                            width: 100%;
                        }
                    }
                }
            }

            .title {
                h3 {
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 25px;
                    line-height: 38px;
                    /* identical to box height */


                    /* Black */

                    color: #171717;


                }
            }

        }
    }
}