@import '../../style/varibale';

.app__chat {
    margin: auto;
    width: 95%;
    background-color: #F5F8FA;

    .app__chat__container {
        @include flex(flex, center, center, row);
        height: calc(100vh - 70px);
        padding: 10px;
        border-radius: 16px;

        @media screen and (max-width:770px) {
            min-height: calc(100vh - 70px) !important;

        }

    }

    .app__chat_list-Users {
        height: 100% !important;

        .app__chat_list-card {
            background-color: #FFFFFF;
            height: 100% !important;
            border-radius: 15px;
            padding: 22px 29px;

            // overflow-y: scroll;

            .app__chat_list-cards {
                padding-bottom: 29px;
            }

            .app__chat_list {
                overflow-y: scroll;
                max-height: 540px;

                margin-top: 15px;
                display: flex;
                flex-direction: column;
                gap: 15px;

                .user {
                    width: 100%;

                    @include flex(flex, left, center, row);
                    gap: 15px;

                    .img {}

                    .content {

                        .name {
                            font-weight: 700 !important;
                            font-size: 1.15rem !important;
                            text-decoration: none;
                        }

                        .email {
                            color: #B5B5C3;
                            font-weight: 600 !important;
                        }
                    }
                }
            }
        }
    }

    .app__chat_messages {
        height: 100% !important;

        .app__chat_list-card {
            padding: 20px !important;
            height: 100% !important;
            border-radius: 15px;
            padding: 5px;
            background-color: #FFFFFF;
            display: flex;
            flex-direction: column;
            align-content: space-between;
            gap: 20px;

            .app__Live_chat {
                background: #d9d9d998;
                border-radius: 16px;
                height: calc(100% - 10%) !important;
                padding: 10px 20px;
                padding-top: 15px !important;
                position: relative;
                .turn__off {
                    position: absolute;
                    top: 0;
                    right: 0;
                    z-index: 9999;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    // padding-bottom: 5px;
                
                    .power-button {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 1rem;
                        border: none;
                        border-radius: 50%;
                        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                        transition: all 0.2s ease;
                        background-color: #f0f0f0;
                
                        transition: transform 0.2s ease;
                
                    }
                
                    .power-button:hover {
                        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
                    }
                
                    .power-button:focus {
                        outline: none;
                    }
                
                    .power-button.on {
                        background-color: #63d471;
                        color: white;
                    }
                
                    .power-button.off {
                        background-color: #e74c3c;
                        color: white;
                    }
                
                    .icon {
                        width: 1.2rem;
                        height: 1.2rem;
                    } 
                    .power-button:hover {
                        cursor: pointer;
                    }
                
                    .power-button:focus {
                        outline: none;
                    }
                
                    .power-button.scaled {
                        transform: scale(0.8);
                    }
                
                }
            }

            .app__send {
                height: 10%;
                padding: 10px;
                display: flex;
                align-items: center;
                background: #D9D9D9;
                border-radius: 12px;
                gap: 10px;

                input {
                    background-color: #FFFFFF !important;
                }

                button {
                    background-color: $colorBlue-0;
                    border: $colorBlue-0;
                }
            }
        }
    }
}


.chat-body {
    height: calc(450px - (45px + 70px));
    border: 1px solid #263238;
    background: #fff;
    position: relative;
}

.chat-header p {
    display: block;
    padding: 0 1em 0 2em;
    color: #fff;
    font-weight: 700;
    line-height: 45px;
}

.chat-body .message-container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.chat-body .message-container::-webkit-scrollbar {
    display: none;
}

.chat-body .message {
    height: auto;
    padding: 10px;
    display: flex;
}

.chat-body .message .message-content {
    width: auto;
    height: auto;
    // min-height: 40px;
    min-width: 120px;
    border-radius: 5px;
    display: flex;
    padding: 10px 10px;
    align-items: center;
    display: flex;
    align-items: center;
    overflow-wrap: break-word;
    word-break: break-word;
}

#you {
    justify-content: flex-start;
}

#you .message-content {
    align-items: center;
    justify-content: flex-start;
    background: #FFFFFF;
    padding-left: 10px;
    padding-top: 5px;
    border-radius: 31.5px 31.5px 31.5px 0px;
}

.message-content {
    p {
        margin: 0 !important;
    }
}

#you .message-meta {
    display: flex;

    justify-content: flex-start;
    margin-left: 5px;
}

#other {
    justify-content: flex-end;
}

#other .message-content {
    justify-content: flex-end;
    background: #FFFFFF;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 31.5px 31.5px 0px 31.5px;
    color: #000000;
}

#other .message-meta {
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;
}

.message-meta #author {
    margin-left: 10px;
    font-weight: bold;
}

.chat-window .chat-body .message .message-meta {
    display: flex;
    font-size: 12px;
}

.empty_chat {
    font-size: larger;
    padding-top: 5px;
}

.bgChatBtn {
    background-color: $colorRed-0 !important;
    border: none !important;
    transition: all 0.8s;

    &:hover {
        background-color: rgba($color: $colorRed-0 , $alpha: 0.8) !important;
        box-shadow: none !important;
    }
}

