@import './varibale';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,500&family=Roboto+Mono:wght@200;300;400;500;600;700&family=Roboto:wght@700;900&family=Tajawal:wght@300;400;500;700;800;900&display=swap');

.color-red {
    color: $colorRed-0 !important;
}

a {
    text-decoration: none !important;
}

.btn-primary {
    background-color: $colorRed-0 !important;
}

.btn-outline-primary {
    color: $colorRed-0 !important;
    border-color: $colorRed-0 !important;

    &:hover {
        background-color: transparent !important;

    }
}

// button in folder (component / button ) shared in all project 
.baseBtn {
    padding: 20px;

    button {
        font-family: $fontBase !important;
        font-style: normal;
        font-weight: 400 !important;
        font-size: 18px !important;
        line-height: 27px;
        color: #FFFFFF;
        gap: 12px;
        padding: 12px 45px !important;
    }
}

// h1 h2 base style ( component / header ) shared in all project when wonted
.app__baseHeader {

    h2,
    h1 {
        font-family: $fontBase;
        font-style: normal;
        color: $colorDark;
    }

    h1 {
        font-weight: 500;
        font-size: 31px;
        line-height: 46px;
        margin-top: 40px !important;

    }

    h2 {
/* En (25 M) */

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 38px;
    }
}

// input textarea select option 
input,
textarea,
select,
option {
    background: rgba($color: $colorGrey-1, $alpha: 0.1) !important;
    border: none !important;
    border-radius: $radius-sm !important;

}


// table style

thead {
    overflow: hidden;
    // white-space: nowrap !important;
    .img{
        background-color: red !important;
    }
    >tr {
        border-radius: 15px !important;
        white-space: nowrap !important;

        >th {
            font-family: $fontBase;
            font-style: normal;
            font-weight: 500;
            font-size: 18px !important;
            line-height: 27px !important;

            text-align: center;
            color: #4A4A4A;
            padding: 15px 0 !important;
        }
    }
}
tbody{
    white-space: nowrap !important;
    .img{ 
        width: 30%;
    }
}
td {
    white-space: nowrap !important;

    >div {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        margin: auto;
        // height: 100px !important;
        gap: 30px;
        font-family: $fontBase;
        font-style: normal;
        font-weight: 400 !important;
        font-size: 18px !important;
        line-height: 32px !important;
        /* identical to box height */
        text-align: center;
        /* Black */
        color: #000000;

        >svg {
            font-size: 20px;
            cursor: pointer;
        }

        svg:first-child {
            color: $colorGreen;
        }

        svg:last-child {
            color: $colorRed-0;
        }
    }
}

// pagination style
.pagination {
    margin-top: 35px !important;

    .css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
        background-color: $colorRed-0 !important;
        color: #FFFFFF !important;
    }
}

.app__addOrder-form {
    background-color: #f9f9f9 !important;
    border-radius: 5px;
    margin-top: 16px !important;
    padding: 32px 16px 10px;
    margin-bottom: 20px !important;
}

  
.active__hover{
    cursor: pointer;
    transition: all 0.4s !important;
    &:hover{
        background-color: #f9f9f9b3 !important;
    }
}

.Filter_by_Animal{
    @media screen and (max-width:767px) {
     margin-top: 25px !important;   
    }

}


td {
    white-space: nowrap !important;
}


#ready {
    text-align: center;
    z-index: 999999;
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: var(--mainColor); */
    // background-color: var(--mainColor);
    color: $colorRed-0;
    background-color: #000000;
  }


  .input-group{
    position: relative;
    border-radius: 0.75rem;
    background-color: #eee;
    display: flex;
    align-items: center;
  }


  .input-group input{
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 0.75rem;
    border: none;
    padding: 15px 30px 15px 20px; 
  }


  .input-group input:focus{
    outline: none;
  }
  
  .left-auto {
    right: 10px !important;  
    left: auto !important;   
  }
  
  .right-auto {
    right: auto !important;  
    left: 10px !important; 
  }
  
  .input-group i{
    position: absolute;
    top: 50%;
    right: 15px;  
    left: auto; 
    transform: translateY(-50%);
    font-size: 18px;
    padding: 5px;
    /* background-color: var(); */
    /* background-color: var(--secondColor); */
    background-color: transparent !important;
    border: none;
    cursor: pointer;
  }
  
  .left-i-auto {
    right: 15px !important;  
    left: auto !important;   
  }
  
  .right-i-auto {
    right: auto !important;  
    left: 15px !important;   
  }
  
  @media screen and (max-width: 768px) {
    .input-group input{
      padding-left: 20px !important;
      padding-right: 10px !important;
    }

    .input-group input#DoctorPhone{
      padding-left: 45px !important;
    }
  }
  

  
@media screen and (max-width: 570px) {

  .personal-info h6,
  .personal-info .fs-6,
  .personal-info .h6,
  .doc-info h6,
  .doc-info .fs-6,
  .doc-info .h6,
  .license .d-flex h6 {
      font-size: 16px !important;
  }

  .personal-info p , .personal-info small,
  .doc-info p , .doc-info small,
  .license .d-flex small{
      font-size: 14px !important;
  } 

}

@media screen and (max-width: 400px) {

  .personal-info h6,
  .personal-info .fs-6,
  .personal-info .h6,
  .doc-info h6,
  .doc-info .fs-6,
  .doc-info .h6,
  .license .d-flex h6 {
      font-size: 14px !important;
  }

  .personal-info p , .personal-info small,
  .doc-info p , .doc-info small,
  .license .d-flex small{
      font-size: 12px !important;
  } 

}


.img-doc img ,
.license img {
  height: 180px;
}

@media screen and (max-width: 500px) {
  .img-doc img ,
  .license img {
    height: 150px;
    min-height: 150px;
  }
}