@import '../style/varibale';
 
body {
  background: $colorLight;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: $colorDark;
}

::-webkit-scrollbar-thumb {
  background-color: $colorRed-0;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba($color: $colorRed-0, $alpha: 0.8);
}

::-webkit-scrollbar-corner {
  background-color: black;
 }
