@import '../style/varibale';

body {
  background: $colorLight;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: $colorRed-0;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba($color: $colorRed-0, $alpha: 0.8);
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

.txt_blocked,
.txt_delivery,
.txt_delivered,
.txt_pending,
.txt_shipped,
.txt_rejected {
  /* Button */
  font-weight: 600 !important;
  display: inline-flex;
  align-items: center;
  font-size: 0.95rem !important;
  width: fit-content;
  padding: 0.1rem .4rem;
  border-radius: 0.425rem;
  white-space: nowrap;
  vertical-align: baseline;
  line-height: normal !important
}

.txt_pending {
  color: #FFC107;
  background-color: rgba($color: #FFC107, $alpha: 0.1);
  // background-color: #fff5f8;
}

.txt_blocked {
  color: black;
  background-color: rgba($color: #000, $alpha: 0.2);
}

.txt_shipped {
  color: #9804F0;
  background-color: rgba($color: #9804F0, $alpha: 0.1);


}

.txt_delivery {
  color: #006300;
  background-color: rgba($color: #006300, $alpha: 0.1);
}

.txt_delivered {
  color: #40AB45;
  background-color: rgba($color: #40AB45, $alpha: 0.1);


}

.txt_rejected {
  color: #E20000;
  background-color: rgba($color: #E20000, $alpha: 0.1);
}

// navbar fixed 
.navMain {
  position: relative;

  .navSubMain {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9;
  }
}

.main__Body {
  margin-top: 70px !important;
}

td{
  // vertical-align: middle !important;
}