@import '../style/varibale';

body {
  background: $colorLight;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: $colorRed-0;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba($color: $colorRed-0, $alpha: 0.8);
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

.txt_blocked,
.txt_delivery,
.txt_delivered,
.txt_pending,
.txt_shipped,
.txt_cancel,
.txt_rejected,
.txt__status {
  /* Button */
  font-weight: 600 !important;
  display: inline-flex;
  align-items: center;
  font-size: 13px !important;
  width: fit-content;
  padding: 0.1rem .4rem;
  border-radius: 0.425rem;
  white-space: nowrap;
  vertical-align: baseline;
  line-height: normal !important
}

.txt_pending {
  color: #FFC107;
  background-color: rgba($color: #FFC107, $alpha: 0.1);
  // background-color: #fff5f8;
}

.txt_blocked {
  color: black;
  background-color: rgba($color: #000, $alpha: 0.2);
}

.txt_shipped {
  color: #9804F0;
  background-color: rgba($color: #9804F0, $alpha: 0.1);
}

.txt_delivery {
  color: #006300;
  background-color: rgba($color: #006300, $alpha: 0.1);
}

.txt_delivered {
  color: #40AB45;
  background-color: rgba($color: #40AB45, $alpha: 0.1);
}

.txt__status {
  color: #009ef7;
  background-color: rgba($color: #009ef7, $alpha: 0.1);
}

.txt_rejected {
  color: #E20000;
  background-color: rgba($color: #E20000, $alpha: 0.1) !important;
}

.txt_cancel {
  color: #BF1E30;
  background-color: rgba($color: #BF1E30, $alpha: 0.1);
}

.bgComplain {
  background-color: rgba($color: #E20000, $alpha: 0.1) !important;

}

// navbar fixed 
.navMain {
  position: relative;

  .navSubMain {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9;
  }
}

.main__Body {
  margin-top: 70px !important;
}

td {
  vertical-align: middle !important;
}

.form-check-input:checked {
  background-color: #0d6efd !important;
  border-color: #0d6efd !important;
}


.daterangepicker td.active,
.daterangepicker td.active:hover {
  background-color: #FAAA40 !important;
  border-color: transparent;
  color: #fff; 
}

.outline-sucess {
  background-color: transparent !important;
  color: rgba($color: $colorGrey-1, $alpha: 0.1) !important;
  padding: calc(0.7rem + 1px) calc(1.25rem + 1px) !important;
  // padding: 1.2rem 0.7rem !important;
  border-radius: 0.425rem !important;
  font-size: 0.8rem !important;
  border-radius: 0.4rem;
  outline: none !important;
  border: none !important;
  color: #7E8299 !important;
  background-color: #eff2f5 !important;
  font-weight: 600 !important;
  transition: all 0.5s;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;

  &:hover {

    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
    color: #E20000 !important;
    border-color: var(--kt-primary-light);
    background-color: #f1faff !important;
    transition: color 0.2s ease;

  }
}