@import '../../style/varibale';

.map {

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  // .map-container {
  //     width: 95%;
  //     height: 600px ;
  //     border-radius: 10px;
  //   }
}

.btn__excel {
  // background-color: $mainColor !important;
  // border-color: #217345 !important;
  border-color: $mainColor !important;
  color: $mainColor !important;
  margin-bottom: 10px !important;
  transition: all 0.4s !important;
 
}