
.map{
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; 
    // .map-container {
    //     width: 95%;
    //     height: 600px ;
    //     border-radius: 10px;
    //   }
  }

  .btn__excel{
    background-color: #217345 !important;
    border-color: #217345 !important;
    color: #fff !important;
    margin-bottom: 10px !important;
  }