
.map{
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    .map-container {
        width: 95%;
        height: 600px ;
        border-radius: 10px;
      }
  }