@import '../../style/varibale';

.main-container {
    display: flex;
    z-index: 9999;

    @media screen and (max-width:600px) {
        // display: none;
    }

    main {
        padding: 10px;
    }
}

/* Sidebar */
.sidebar {
    color: white;

    // background-color: $colorDark;
    .top_section {
        display: flex;
        align-items: normal;
        justify-content: space-between;
        padding: 15px 18px;

        .logo {
            font-size: 18px;
            line-height: 0;
            padding: 30px 60px 0px 60px;
            width: 170px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            color: $colorRed-0;
            user-select: none;
        }

        .bars {
            cursor: pointer;
            color: $colorLight;
        }
    }
}

.routes {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    .link {
        display: flex;
        color: $colorLight;
        gap: 10px;
        padding: 5px 18px;
        text-decoration: none;
        border-right: 4px solid transparent;
        transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);

        &:hover {
            // border-left: 4px solid $colorRed-0;
            transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
            color: $colorRed-0;
            position: relative;

            &::after {
                content: '';
                height: 100%;
                width: 4px;
                position: absolute;
                left: 0%;
                top: 0%;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                background-color: $colorRed-0;
            }
        }

        .link_text {
            white-space: nowrap;
            text-decoration: none !important;
            text-decoration: underline;

            font-family: $fontBase;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
        }

    }

    .active {
        color: $colorRed-0 !important;
        width: 20px;
        position: relative;

        &::after {
            content: '';
            height: 100%;
            width: 4px;
            position: absolute;
            left: 0%;
            top: 0%;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            background-color: $colorRed-0;
        }
    }

    .menu {
        display: flex;
        color: white;
        padding-right: 20px;
        transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
        justify-content: space-between;
    }

    .menu_item {
        display: flex;
        gap: 10px;
    }

    .menu_container {
        display: flex;
        flex-direction: column;

        .active {
            color: $colorRed-0 !important;
            width: 20px;
            position: relative;


            &::after {
                content: '';
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
                background-color: transparent;

            }
        }

        margin-top: -17px;

        .link {
            display: flex;
            color: $colorLight;
            gap: 10px;
            text-decoration: none;
            transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);

            &:hover {
                transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
                color: $colorRed-0;
                position: relative;

                &::after {
                    content: '';
                    background-color: transparent;
                }
            }
        }
    }

    .menu_container .link {
        padding-left: 20px;
    }
}





.side {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    z-index: 99;
    // overflow: scroll;
    // overflow-x: hidden;
    // display: none;
}

.react-tooltip {
    z-index: 999999999999999 !important;
}

@media screen and (max-width:900px) {
    .main-container { 
        display: none !important;
    }
    .adminLayout{
        width: 100% !important;
    }
}